includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 5
    paths:
        - app
        - Modules
        - database/factories
        - database/seeders
    tmpDir: phpstan-cache
